<table>
  <% unless title.empty?  %>
    <tr>
      <% title.each do |value| %>
        <th><%= value %></th>
      <% end %>
    </tr>
  <% end %>

  <% attributes.each do |attribute, value|%>
    <tr>
      <td><%= attribute %></td>
      <td><%= value %></td>
    </tr>
  <% end %>
</table>
